# Database
DATABASE_URL='postgresql://neondb_owner:npg_JLbvY4rVRj5z@ep-small-scene-aqvw4hzd-pooler.c-8.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require'

# Security
SECRET_KEY="5825d76d23798f1490c98416b4f3381aecbb3de2800aff590cf1c89f8934322c"
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# API Settings
PROJECT_NAME="Nexe-Agent Analytics API"
API_V1_STR="/api/v1"
